.community_list{

  margin: auto;

}
.tables{
   margin: auto;
   padding: 15px;

  border-spacing: 30px;
}
.contenes{
   margin: auto;

   padding: 15px;

  border-spacing: 30px;

}
.list {  }

a{
  text-decoration-line: none;

}


.comunity_list_detail{
  position: relative;
  margin: 100px 0px 0px 100px;
  width: 80%;
  border: solid 1px;
}
.write{
  text-align:right;
  margin-right: 300px;
}