.community_list{

  margin: auto;

}
.tables{
   margin: auto;
   padding: 15px;

  border-spacing: 30px;
}
.contenes{
   margin: auto;

   padding: 15px;

  border-spacing: 30px;

}
.list {  }

a{
  text-decoration-line: none;

}